<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    
   <add key="token" value=""/>
    <add key="paypalemail" value="ashish7792@gmail.com"/>

    <!--Here i used sandbox site url only if you hosted in live change sandbox to live paypal URL-->
    <add key="PayPalSubmitUrl" value="https://paypal.me/AshishWaghmare"/>

    <add key="FailedURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>

    <add key="SuccessURL" value="http://www.mrsoft.co.in/ProceedToPayment.aspx"/>
  </appSettings>
  
    <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/json" />
    </staticContent>
    
</system.webServer>
  
  
   <system.web>
		<sessionState mode="InProc" timeout="2" />
    
  
  
  
	</system.web>


  
  <connectionStrings>
    <add name="ConstringDWBMS.net" connectionString="server=AMAL54-PC\SQLSERVER2008;database=MSBuild;uid=sa;pwd=amal;Pooling=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>